[Unit]
Description=Auto Brightness Service
After=graphical-session.target
Wants=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/auto-brightness
Restart=always
RestartSec=30
Environment=DISPLAY=:0

StandardOutput=journal
StandardError=journal
SyslogIdentifier=auto-brightness

WorkingDirectory=/etc/auto-brightness

[Install]
WantedBy=default.target